.modal {
    position: fixed;
    inset: 0; /* inset sets all 4 values (top right bottom left) much like how we set padding, margin etc., */
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.4);
}

.enterDone {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.exit {
    opacity: 0;
    transform: scale(0.4);
}

.modalContent {
    width: 500px;
    height: auto;
    max-height: 550px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    overflow-y: scroll;
    text-align: center;
}

.modalHeader {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
}

.modalFooter {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-top: 1px solid #eee;
}

.modalBody {
    flex: 1;
    padding: 10px;
}

.modalBtnClose,
.modalBtnPrint {
    height: auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    color: black;
    border-radius: 5px;
    border: 1px solid #d8dbdc;
    background-color: white;
    transition: 0.3s ease-in-out;
}

.modalBtnClose:hover,
.modalBtnClose:focus {
    background-color: #ecf0f1;
    text-decoration: none;
    cursor: pointer;
}

.modalBtnPrint:hover,
.modalBtnPrint:focus {
    background-color: #eff1ec;
    text-decoration: none;
    cursor: pointer;
}

/* Results styling */
table {
    border-collapse: collapse;
    border: 1px solid black;
}
  
.tableBig td {
    border: 1px solid black;
    padding: 20px;
    width: 75px;
}

/*
.statisticsSheet td {
    background-color: green;
}

.simpleTable td {
    background-color: red;
}
*/

/* printing */
/* got it mostly displayed but wont go to next page 
@media print {
    body * {
        background-color: blue;
        visibility: hidden;
    }
    .modalContent {
        position: absolute;
        top: 0;
        text-align: center;
        background-color: green;
        overflow: visible;
        visibility: hidden;
    }
    .modalHeader {
        visibility: hidden;
    }
    .modalFooter {
        visibility: hidden;
    }
    .modalBody {
        position: absolute;
        background-color: red;
        visibility: hidden;
        overflow: visible;
    }
    .tableBig * {
        background-color: yellow;
        visibility: visible;
        overflow: visible;
        padding-top: 0;
        zoom: 120%;
        width: 500px;
    }
    .tableBig {
        background-color: purple;
        visibility: visible;
        overflow: visible;
    }
    .tableBig h2, .tableBig h4 {
        margin-left: -25px;
    }
    .tableBig td {
        padding: 15px;
    }
    .statisticsSheet * {
        visibility: visible;
    }
    .simpleTable * {
        visibility: visible;
    }
    @page {
      size: a4;
      margin: 0;
    }
}
*/

/* css above feels pretty messy, trying to start over to fix multiple page issue */
@media print {
    body * {
        background-color: blue;
        visibility: hidden;
    }
    .tableBig * {
        visibility: visible;
        background-color: yellow;
    }
    .tableBig {
        position: absolute;
        visibility: visible;
        overflow: visible;
        display: table-row-group;

    }

    @page {
      size: a4;
      margin: 0;
    }
}