.formHeader {
    background-color: #34495e;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    text-shadow: 1px 1px 1px #2c3e50;
    text-align: center;
    border-radius: 5px;
  }