body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  background: #d8dcdd;
}

/* Table styling */
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: 15px;
  width: 30%;
}

.tableBig {
  border: 1px solid black;
  background: white;
  width: 825px;
  display: block;
  height: 600px;
  overflow-y: scroll;
}

.tableBig td {
  border: 1px solid black;
  padding: 30px;
  width: 30%;
  font-size: xx-large;
  font-weight: bold;
  transform: scaleY(3);
  transform: scaleX(1.25);
}

.statisticsSheet {
  text-align: center;
  border-collapse: separate;
  border-spacing: 10px 35px;
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: -10px;
}

.statisticsSheet td:nth-child(1) {
  width: 20%;
  transform: scaleY(1.15);
}

.statisticsSheet td:nth-child(2) {
  width: 60%;
  transform: scaleY(1.15);
}

.statisticsSheet td:nth-child(3) {
  width: 20%;
  transform: scaleY(1.15);
}

/* printing */

@media print {
  body * {
    visibility: hidden;
  }
  @page {
    size: a4;
    margin: 0;
  }
}

/* OLD Modal */
.old-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  overflow: hidden;
  z-index: 999;
}

.old-modal.show {
  opacity: 1;
  pointer-events: visible;
}

.old-modal-content {
  width: 500px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.old-modal-header, .old-modal-footer {
  padding: 5px;
  font-size: 16px;
}

.old-modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

